form#form-task.form-inline(class='homes')
  .form
    .main
      input(type='text', id='content', name='content', placeholder='목적지, 도시명, 주소')
      input(type='text', id='content', name='content', placeholder='체크인')
      input(type='text', id='content', name='content', placeholder='체크아웃')
      input(type='text', id='content', name='content', placeholder='인원1명')
      button#post-task.btn.btn-primary.btn-lg(type='button') 숙소 검색
ul.tasks

.no-task 
  .alert.alert-info Task가 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
