form#form-task.form-inline(class='homes')
  .form
    .main
      input(type='text', id='q', placeholder='목적지, 도시명, 주소')
      i.fa.fa-spin.fa-spinner
      ul.suggest-box          
      input(type="hidden" id="dtp_input2" value="")
      select(name='checkin-month')
        option(value='1', selected) 1월
        option(value='2') 2월
        option(value='3') 3월
        option(value='4') 4월
        option(value='5') 5월
        option(value='6') 6월
        option(value='7') 7월
        option(value='8') 8월
        option(value='9') 9월
        option(value='10') 10월
        option(value='11') 11월
        option(value='12') 12월
      select(name='checkin-day')
        option(value='1', selected) 1일
        option(value='2') 2일
        option(value='3') 3일
        option(value='4') 4일
        option(value='5') 5일
        option(value='6') 6일
        option(value='7') 7일
        option(value='8') 8일
        option(value='9') 9일
        option(value='10') 10일
        option(value='11') 11일
        option(value='12') 12일
        option(value='13') 13일
        option(value='14') 14일
        option(value='15') 15일
        option(value='16') 16일
        option(value='17') 17일
        option(value='18') 18일
        option(value='19') 19일
        option(value='20') 20일
        option(value='21') 21일
        option(value='22') 22일
        option(value='23') 23일
        option(value='24') 24일
        option(value='25') 25일
        option(value='26') 26일
        option(value='27') 27일
        option(value='28') 28일
        option(value='29') 29일
        option(value='30') 30일
        option(value='31') 31일
      select(name='checkout-month')
        option(value='1', selected) 1월
        option(value='2') 2월
        option(value='3') 3월
        option(value='4') 4월
        option(value='5') 5월
        option(value='6') 6월
        option(value='7') 7월
        option(value='8') 8월
        option(value='9') 9월
        option(value='10') 10월
        option(value='11') 11월
        option(value='12') 12월
      select(name='checkout-day')
        option(value='1', selected) 1일
        option(value='2') 2일
        option(value='3') 3일
        option(value='4') 4일
        option(value='5') 5일
        option(value='6') 6일
        option(value='7') 7일
        option(value='8') 8일
        option(value='9') 9일
        option(value='10') 10일
        option(value='11') 11일
        option(value='12') 12일
        option(value='13') 13일
        option(value='14') 14일
        option(value='15') 15일
        option(value='16') 16일
        option(value='17') 17일
        option(value='18') 18일
        option(value='19') 19일
        option(value='20') 20일
        option(value='21') 21일
        option(value='22') 22일
        option(value='23') 23일
        option(value='24') 24일
        option(value='25') 25일
        option(value='26') 26일
        option(value='27') 27일
        option(value='28') 28일
        option(value='29') 29일
        option(value='30') 30일
        option(value='31') 31일
      select(name='guests')
        option(value='1', selected) 1명
        option(value='2') 2명
        option(value='3') 3명
        option(value='4') 4명
        option(value='5') 5명
        option(value='6') 6명
        option(value='7') 7명
        option(value='8') 8명
        option(value='9') 9명
        option(value='10') 10명
        option(value='11') 11명
        option(value='12') 12명
        option(value='13') 13명
        option(value='14') 14명
        option(value='15') 15명
        option(value='16') 16+명
      button#search-home.btn.btn-primary.btn-lg(type='button') 숙소 검색
        
ul.tasks

.no-task 
  .alert.alert-info Task가 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>

script.
  $(function() {
    var todo = new TaskController();    
  });
