extends layout

block hero-unit
  .jumbotron
    .container
      h1 에어비앤비 호스트가 되어 부수입을 올리세요.
      h2 집 수리비를 모으고 꿈에 그리던 여행을 떠나는 등 호스팅 부수입으로 꿈을 이루세요.
      h3 호스팅 시작하기
block content
  .container
    .row
      .col-md-6
        h3 여행은 살아보는거래
        p 여행은 살아보는거랍니다. 
      .col-md-6
        h3 요구 사항
        
