extends layout

block hero-unit
  .jumbotron-host
    .container
      #first-h2 
        h2 에어비앤비 호스트가 되어 
      h2 회원님의 꿈을 실현하세요.
      h3 지역에 온 사람들을 환영해주고 이들이 집처럼 
      h3 편안함을 느낄 수 있도록 도와주세요.
block content            
  #main.container.loading
    .col-sm-12
      h1 에어비앤비에서 호스팅할 수 있는 3가지 방법
      br
      .row
        .col-sm-3.col-md-4
          .thumbnail
            a(href="/rooms/become-a-host")
              img(src='https://a2.muscache.com/airbnb/static/launch_platform/host/way1-82d7093da623d945f22719ec8278582d.jpg')
            .caption
              h3 여분의 공간을 호스팅하세요
              h4.description 산 속의 오두막집, 남는 방 등 회원님의 공간에 게스트를 맞이하고 수입을 누리세요.
              br
              p
                a(href="/rooms/become-a-host") 숙소 등록하기
        .col-sm-3.col-md-4
          .thumbnail
            a(href="")
              img(src='https://a1.muscache.com/airbnb/static/launch_platform/host/way2-a2feb3396b1cf9924578c8d3425589bd.jpg')
            .caption
              h3 이웃을 위해 호스팅을 제공하세요
              h4.description 호스팅을 할 여유공간이 없으세요? 지역 공동 호스트가 되어 다른 사람의 숙소를 대신 호스팅하며 수입을 올릴 수 있습니다.
              br
              p
                a(href="") 공동 호스트 되기
        .col-sm-3.col-md-4
          .thumbnail
            a(href="")
              img(src='https://a0.muscache.com/airbnb/static/launch_platform/host/way3-2f2fecba00bcceac7f96e8ec67d162f9.jpg')
            .caption
              h3 특별한 트립을 호스팅하세요
              h4.description 여행객을 위한 트립을 주최하고 회원님의 열정과 전문성 또는 회원님 지역만의 개성을 공유하세요.
              br
              p
                a(href="") 트립 만들기
