extends layout

block hero-unit
  .jumbotron
    .container
      h1 AirBNB

block content
  h1 Autocomplete Example
  hr
  .form
    input.form-control(type='text', id='q', size=20, placeholder='Type your country')
    i.fa.fa-spin.fa-spinner
    ul.suggest-box
      
  .dummy
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  script(src='/javascripts/autocomplete.js')
  .container
    .row
      .col-md-10
        h3 여행은 살아보는거래
        p 여행은 살아보는거랍니다. 
  #main.container.loading
    .row
      .col-sm-9
        include ./includes/homes-main
      .col-sm-3.side
        include ./includes/homes-side
    .spinner
      .background
      .foreground
        p
          i.fa.fa-circle-o-notch.fa-spin.fa-4x
        p Loading...
  script(type='text/javascript', src='/javascripts/homes.js')
