extends layout

block hero-unit
  .jumbotron
    .container
      h1 AirBNB
      h2 여행은 살아보는거랩니다. 
block content            
  #main.container.loading
    .row
      .col-sm-12
        include ./includes/homes-main
        // my table
        //- table.table.table-hover
        //-   thead
        //-     tr
        //-       th 제목
        //-       th 지역
        //-       th 요금
        //-       th 날짜
        //-       th 조회수
        //-   tbody
        //-     each post in posts
        //-       tr
        //-         td
        //-           a(href='/posts/#{post.id}')= post.title
        //-         td= post.city
        //-         td= post.fee
        //-         td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
        //-         td= post.read
    .spinner
      .background
      .foreground
        p
          i.fa.fa-circle-o-notch.fa-spin.fa-4x
        p Loading...  
  script(type='text/javascript', src='/javascripts/homes.js')
  script(type='text/javascript', src='/javascripts/autocomplete.js')
  
