extends layout

block hero-unit
  .jumbotron
    .container
      h1 AirBNB
      h2 여행은 살아보는거랍니다. 
block content            
  .container
    .row
      .col-md-10
        h3 여행은 살아보는거래
  #main.container.loading
    .row
      .col-sm-12
        include ./includes/homes-main
    .spinner
      .background
      .foreground
        p
          i.fa.fa-circle-o-notch.fa-spin.fa-4x
        p Loading...  
  script(type='text/javascript', src='/javascripts/homes.js')
  script(type='text/javascript', src='/javascripts/autocomplete.js')

  
