extends layout

block hero-unit
  .jumbotron-help
    .container
      input(type='text', id='help-input', placeholder=' 질문을 입력하거나 키워드로 검색하세요. 아무일도 안일어나겠지만!')
block content
  .container
    .row
      .col-md-10
        br
        div.list-group
          h1 추천 도움말
          a.list-group-item(href='#') 변경과 취소
          a.list-group-item(href='#') 문제 해결
          a.list-group-item(href='#') 인증
          a.list-group-item(href='#') 요금과 수수료
          a.list-group-item(href='#') 예약 요청
          br
          h2 자주 찾는 주제

          

  
